@font-face {
  font-family: "CocoGoose";
  src: url("../assets/fonts/Cocogoose-Pro-trial.ttf") format("truetype");
}

body {
  font-family: "Lato", sans-serif !important;
}

.titles-font-family {
  font-family: "CocoGoose", Helvetica, sans-serif !important;
}
