/* GLOBALS VARIABLES */

:root {
  --primary-color: #ee523c;
  --secondary-color: #272a31;
  --third-color: #d3d3d3;
}

@font-face {
  font-family: "CocoGoose";
  src: url("../assets/fonts/Cocogoose-Pro-trial.ttf") format("truetype");
}

body {
  font-family: "Lato", sans-serif !important;
}

.titles-font-family {
  font-family: "CocoGoose", Helvetica, sans-serif !important;
}

.text-primary-color {
  color: var(--primary-color);
}

.text-secondary-color {
  color: var(--secondary-color);
}

.text-third-color {
  color: var(--third-color);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.bg-third-color {
  background-color: var(--third-color);
}

.opacity {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
  height: 100%;
}

/* MAIN CONTENT */

.hero-section {
  background-image: url(../assets/img/hero-section.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
