/* global var*/

main section .container-fluid {
  padding-top: 30px;
  padding-bottom: 30px;
}

article {
  margin: 30px 0;
}

/* main */

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.hero-section {
  background-image: url(/assets/img/hero-section.png);
}

.hero-section .container-fluid {
  color: #fff;
  padding-top: 70px;
  padding-bottom: 40px;
}

.info-hero {
  background-color: #fff;
  border: 1px solid var(--third-color);
  padding: 20px;
  margin: 20px 0;
}

.info-hero p {
  text-align: center;
  line-height: 30px;
}

.bottom-info-hero {
  text-align: center;
}

.bottom-info-hero .email {
  text-decoration: underline;
}

.title {
  padding-bottom: 30px;
}



.global-summit {
  text-align: center;
  border-bottom: 2px solid #f9f9f9;
}

.global-summit .title {
  margin: 0 auto;
  width: 80%;
}

.global-summit-logo {
  border: 2px solid #f9f9f9;
  margin: 0 auto;
  padding: 30px 0;
}

.past-gs .container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

#first-article {
  background-image: url(/assets/img/hero-section.png);
}

.opacity-past-gs {
  background-image: linear-gradient(rgba(238, 82, 60, 0.7), rgba(238, 82, 60, 0.62));
  height: 100%;
}

.contenido {
  margin: 0 auto;
  padding: 70px 0;
  color: #fff;
}

.partners {
  background-color: #414246;
}

.partners .container-fluid {
  padding-top: 30px;
  padding-bottom: 30px;
}

.partners .section-title {
  color: #8f8f8f;
  padding-bottom: 30px;
  margin: 0;
}

.partners .partners-info i {
  color: #8f8f8f;
}

.partners-info .list-unstyled {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.partners-info li {
  margin: 10px;
}

@media only screen and (max-width: 576px) {
  .hero-section .container-fluid {
    padding-top: 80px;
  }
}
