/* MAIN CONTENT */

.hero-section {
  background-image: url(/assets/img/hero-section.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.hero-section .container-fluid {
  color: #fff;
  padding-top: 70px;
  padding-bottom: 40px;
}

.info-hero {
  border: 2px solid #fff;
  padding: 20px;
  margin: 20px 0;
}

.main-program {
  background-color: #272a31;
  color: #fff;
}

.section-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-program article {
  background-color: #3a3d44;
}



.main-program .articles-content {
  margin: 30px 0;
}

article .articles-content-info {
  display: flex;
  align-items: center;
  justify-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

article {
  margin: 10px 0;
}

.main-program-content .button {
  margin: 0 60px;
}

.button button {
  width: 100%;
  padding: 30px 10px;
  border: 0;
  color: #fff;
}

.featured-speaking-content article {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.featured-speaking-content hr {
  margin-right: 90%;
}

.featured-speaking-content p {
  font-size: 14px;
}

.more-button {
  color: unset;
  border-color: #e7e7e7;
}

.featured-speakers button {
  padding: 15px 0;
}

.partners {
  background-color: #414246;
}

.partners .container-fluid {
  padding-top: 30px;
  padding-bottom: 30px;
}

.partners .section-title {
  color: #8f8f8f;
  padding-bottom: 30px;
  margin: 0;
}

.partners .partners-info i {
  color: #8f8f8f;
}

.partners-info .list-unstyled {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.partners-info li {
  margin: 10px;
}

/* MEDIA QUERYS */

@media only screen and (max-width: 576px) {
  .hero-section .container-fluid {
    padding-top: 80px;
  }
}

@media only screen and (min-width: 768px) {
  .partners-info .list-unstyled {
    margin: 0 100px;
  }
}
