/* GLOBALS VARIABLES */

:root {
  --primary-color: #ee523c;
  --secondary-color: #272a31;
  --third-color: #d3d3d3;
}

@font-face {
  font-family: "CocoGoose";
  src: url("../assets/fonts/Cocogoose_trial.otf") format("truetype");
}

body {
  font-family: "Lato", Helvetica !important;
}

.titles-font-family {
  font-family: "CocoGoose", sans-serif !important;
}

.text-primary-color {
  color: var(--primary-color);
}

.text-secondary-color {
  color: var(--secondary-color);
}

.text-third-color {
  color: var(--third-color);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.bg-third-color {
  background-color: var(--third-color);
}

.text-align-center {
  text-align: center;
}

.opacity {
  background-image: linear-gradient(rgb(100, 99, 99), rgba(238, 82, 60, 0.41));
  height: 100%;
}

p {
  margin: 0 !important;
}

