/* Global variables */
.steps {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  border: 2px solid #e3e3e3;
  border-radius: 5px;
}

.tickets .tabla-article {
  margin: 20px 0;
}

/* main */

.select-tickets {
  background-color: #f7f7f7;
  padding-top: 20px;
}

.breadcrum {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--secondary-color);
}

.title-steps {
  margin: 0 auto;
  width: 80%;
  padding: 30px 0;
}



.step-bullet {
  padding-bottom: 20px;
  color: var(--primary-color);
}

.step-bullet span {
  font-size: 18px;
}

.tabla,
.second-day {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.element-title {
  font-size: 18px;
}

.precios-button {
  background-color: var(--primary-color);
  border-color: unset;
}

#diamond-element {
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-bottom-color: var(--primary-color);
  position: relative;
}

#diamond-element:after {
  content: "";
  position: absolute;
  left: -25px;
  top: 25px;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-top-color: var(--primary-color);
}

#diamond-element i {
  top: 20px;
  right: -6px;
  z-index: 1;
  color: #fff;
}

.select-lunch {
  padding: 40px 0;
}

.diamond-select-tickets {
  margin: 0 auto;
  width: 50px;
}

.menus-thing {
  border: 1px solid #e3e3e3;
}

.top-menus {
  background-color: #f6f6f6;
  height: 50px;
}

.menu-contenido {
  padding: 10px;
}

.menu-contenido ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.select-menus-button {
  background-color: var(--primary-color);
  border-color: unset;
}

.menu-contenido li {
  padding: 10px;
}

/* media queries*/

@media only screen and (max-width: 576px) {
  .border-shadow-header {
    box-shadow: -5px -2px 14px 6px #ee523c !important;
    width: 100%;
  }

  .tickets {
    padding-top: 80px;
  }

  .left-side i {
    color: var(--secondary-color) !important;
  }
}

@media only screen and (min-width: 768px) {
  .select-tickets {
    padding-top: 60px;
  }
}

@media only screen and (min-width: 992px) {
  .steps {
    /* border: 2px solid #e3e3e3; */
    border-radius: 100px;
    margin: 0 15%;
  }
}
