<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/src/components/scroll-header/scroll-header.css">
</head>

<body>
    <nav>
        <section class="fixed border-shadow-scroll">
            <div class="container-fluid">
                <div class="left-side-scroll">
                    <!-- <i class="fa fa-bars fa-2x "></i> -->
                    <a href="/">Home</a>
                    <a href="/src/pages/about/about-skeleton.html">About</a>
                    <a href="/src/pages/ticketes/ticketes-skeleton.html">Tickets</a>
                    <a href="/src/pages/schedule/schedule-skeleton.html">Schedule</a>
                </div>
            </div>
        </section>
    </nav>
    <div class="behind-navbar"></div>

</body>

</html>