.fixed {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 100%;
  z-index: 100;
}

.left-side-scroll {
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-side-scroll i {
  color: var(--secondary-color);
}

.border-shadow-scroll {
  box-shadow: -5px -2px 14px 6px #ee523c;
}


