.fixed {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 100%;
  z-index: 100;
}

.left-side {
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-side i {
  color: var(--third-color);
}

