.fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

.left-side {
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-side i {
  color: var(--third-color);
}

.contenedor {
  position: absolute;
}

.border-shadow-header {
  box-shadow: -5px -2px 14px 6px #ee523c;
}


@media only screen and (max-width: 576px) {
  .border-shadow-header{
    box-shadow: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .behind-navbar {
    margin-top: 50px;
  }

  .fixed {
    background-color: white;
  }

  .contenedor {
    background-color: #fff;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
  }
}

@media only screen and (min-width: 992px) {
}
