.flex-adjust-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: unset;
  text-decoration: none;
  background-color: unset;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}


.left-side i {
  color: var(--third-color);
}


.right-side ul {
  margin: 0;
}

.right-side li {
  margin-right: 10px;
}

.contenedor {
  position: absolute;
}

.contenedor .container-fluid {
  margin-top: 20px;
  margin-bottom: 20px;
}

.campaign-button {
  color: var(--secondary-color);
  border: 3px solid var(--primary-color);
  border-radius: 0;
}

.border-shadow-header {
  box-shadow: -5px -2px 14px 6px #ee523c;
}

@media only screen and (max-width: 576px) {
  .border-shadow-header {
    box-shadow: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .behind-navbar {
    margin-top: 50px;
  }

  .fixed {
    background-color: white;
  }

  .contenedor {
    background-color: #fff;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
  }
}

@media only screen and (min-width: 992px) {
}
