<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <nav>
        <section class="contenedor border-shadow-header">
            <h2 class="hidden-section-title">.</h2>
            <div class="top-navbar d-none d-md-block ">
                <div class="container-fluid">
                    <ul class="list-unstyled flex-adjust-center">
                        <li>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter mr-3"></i></a>
                        </li>
                        <li>
                            <a href="#"><span>Logout</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Mypage</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Korean</span></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="bottom-navbar ">
                <div class="container-fluid flex-adjust-center">
                    <div class="left-side">
                        <i class="fa fa-bars fa-2x d-md-none"></i>
                        <a href="/">
                            <img src="/assets/img/loachella-logo-secondary.svg" alt="logo-header"
                                class="d-none d-md-block">
                        </a>
                    </div>
                    <div class="center-list d-none d-md-block">
                        <ul class="list-unstyled flex-adjust-center">
                            <li>
                                <a href="/src/pages/about/about-skeleton.html">
                                    <span class="text-secondary-color font-weight-bold">About</span>
                                </a>
                            </li>
                            <li>
                                <a href="/src/pages/ticketes/ticketes-skeleton.html">
                                    <span class="text-secondary-color font-weight-bold">Tickets</span>
                                </a>
                            </li>
                            <li>
                                <a href="/src/pages/schedule/schedule-skeleton.html">
                                    <span class="text-secondary-color font-weight-bold">Schedule</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <button type="button" class="btn btn-outline-primary btn-block campaign-button d-none d-md-block">
                        Plan</button>
                </div>
            </div>
        </section>
    </nav>
    <div class="behind-navbar"></div>

</body>

</html>