<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="src/components/header.css">

    <title>Document</title>
</head>

<body>
    <nav>
        <section class="contenedor border-shadow">
            <div class="container-fluid">
                <div class="left-side">
                    <i class="fa fa-bars fa-2x d-md-none"></i>
                    <i class="fa fa-search fa-2x d-none d-md-block"></i>
                </div>
            </div>
        </section>
    </nav>
    <div class="behind-navbar"></div>

</body>

</html>