<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="src/components/scroll-header.css">
</head>

<body>
    <nav>
        <section class="fixed border-shadow">
            <div class="container-fluid">
                <div class="left-side">
                    <i class="fa fa-bars fa-2x "></i>
                </div>
            </div>
        </section>
    </nav>
    <div class="behind-navbar"></div>

</body>

</html>