<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="src/components/footer/footer.css">
    <title>Document</title>
</head>
<body>
  <!-- <h1>I'm the footer in footer html</h1> -->
  <main class="footer">
    <div class="container-fluid">
        <div class="logo">
            <img width="100" src="assets/img/logo_concert_third.svg" alt="logo-footer">
        </div>
        <div class="info-footer"></div>
    </div>
</main>
</body>
</html>