.footer {
  background-color: #2e2e2e;
  color: #fff;
}

.footer .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 30px;
}

.info-footer p {
  font-size: 14px;
}

@media only screen and (min-width: 992px) {
  .logo {
    margin-left: 15%;
  }
}
